  <div class="singleUser container">
    <form action="/userDetails/delete?form=userDetails" method="POST">
       <div class="hidden" name="id"> ID : {{ data._id }}</div>
       <div> Name : {{ data.first_name}} {{ data.last_name}} </div>
       <div> Email : {{data.email}} </div>
       <div> Gender : {{ data.gender }} </div>
       <div> IP Address : {{ data.address }} </div>
       <div class="container"> 
          <button class="btn btn-default" id="edit">
            <a href="./{{data._id}}/edit"> Edit </a> 
          </button>
          <button class="btn btn-default" id="delete">
            <a href="./delete"> Delete </a> 
          </button>
      </div>
  </form>
</div>